host_key
rest_cert.pem
rest_key.pem
.venv/
__pycache__/
*.pyc
*.spec
build/
dist/

# Electron dependencies and generated packages
electron/node_modules/
electron/dist/

server_out.txt
server_err.txt
.agents
